/target
/.settings
.settings
.classpath
.project
.idea
/logs
/bin
/target
target
test-output

*.swp
*.class
*.iml
*~
/build/
/src/main/webapp/res/js/plugin/
*/src/main/webapp/res/js/plugin/*
*bootstrap*
/src/main/webapp/res/fonts/
*/src/main/webapp/res/fonts/*
