p {
	font-size: 16px;
}

.property-block {
	font-size: 14px;
	float: left;
	min-width: 50px;
}

.property-block-key {
	margin: 10px 0;
}

.property-block-value {
	margin: 10px 100px 10px 0;
}

.property-block-value:last-child {
	margin: 10px 0;
}

.property-block-input {
	margin: 10px 0px 10px 0;
	width: 90%;
}

.test-case-inner-edit-block .property-block {
	font-size: 14px;	
}

.col-sm-12:first-child > .property-block {
	margin-top: 0;
}

.col-sm-12:last-child > .property-block {
	margin-bottom: 0;
}
	
.background-block {
	padding: 10px;
	border: 1px solid #E3E3E3;
}
	
.test-case-server-list-div {
	border-radius: 5px;
	border: 1px solid #B9B9B9;	
	margin: 5px auto;
	width: 90%;
}

.test-case-server-list-div h5 {
	font-size: 18px;
}

.test-case-server-list-div p {
	font-size: 14px;
	white-space: nowrap;
	background-color: #F2F2F2;
}
	
.test-case-server-name {
	float: left;
	width: 170px;
	padding: 0 20px;
	background-color: #FFFFFF;
}

.select2-container--default .select2-selection--single {
	background-color: #FFF;	
}