<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" media="all" href="/res/css/bootstrap.css">
<link rel="stylesheet" media="all" href="/res/css/main.css">
<script src="/res/js/jquery-1.11.3.min.js"></script>
<script src="/res/js/bootstrap.js"></script>
<script src="/res/js/main.js"></script>

<link rel="stylesheet" media="all"
	href="/res/css/plugin/bootstrap-table.css">
<script src="/res/js/plugin/bootstrap-table.js"></script>
<script src="/res/js/plugin/locale/bootstrap-table-zh-CN.js"></script>

<link rel="stylesheet" media="all" href="/res/css/plugin/select2.css">
<script src="/res/js/plugin/select2.js"></script>

<link rel="stylesheet" media="all"
	href="/res/css/plugin/bootstrap-datetimepicker.min.css">
<script src="/res/js/plugin/moment.min.js"></script>
<script src="/res/js/plugin/bootstrap-datetimepicker.min.js"></script>

<meta charset="UTF-8">
<title>这个网页引入了很多JQuery</title>

</head>
<body background="/res/img/girl01.jpg">

	<h1>你好，世界！！！</h1>
	<h3>呵呵</h3>
	<button onclick="alert_something('这是一个测试')" type="button">
		这是一个按钮</button>
	<br>
	<a href='/login/index'>点击跳转到ftl写成的页面</a>
	<button id='t_button'>点击按钮会在控制台打印出这句话</button>
	<button id="spider">运行爬虫</button>
</body>
<script src="/res/js/self/test.js"></script>
</html>